{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Slug</th>
                <th>Introduction</th>
                <th>Content</th>
                <th>Photo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.slug }}</td>
                <td>{{ article.introduction }}</td>
                <td>
                    {{ article.content|slice(1,30)}}...
                </td>
                <td>
                    <img src="{{ article.photo}}" width="50" height="50"/> 
                </td>
                <td>
                    <a href="{{ path('app_article_show', {'slug': article.slug}) }}">Voir</a>
                    <a href="{{ path('app_article_edit', {'slug': article.slug}) }}">Editer</a>
                    <a href="{{ path('app_article_delete', {'slug': article.slug}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_article_add') }}">Un nouvel article</a>
{% endblock %}
